/* Fill me in :) */

.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  /* justify-content: center; */
  align-items: center;
  border: none;
  outline: none;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 520px;
  margin-top: 120px;
  justify-content: space-between;
}

.keyboardContainer {
  width: 60vw;
  height: 25vh;
  background-color: orange;
  position: absolute;
  bottom: 0;
}
