@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.block {
  height: 50px;
  width: 50px;
  background-color: black;
  border-color: grey;
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
}

.letter {
  color: white;
  font-weight: 600;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.green {
  background-color: #538d4e;
  border-color: #538d4e;
}

.yellow {
  background-color: #b59f3b;
  border-color: #b59f3b;
}

.grey {
  background-color: #3a3a3c;
  border-color: #3a3a3c;
}
